body {  font-family:'Times New Roman', Times, serif;
        background-color:rgb(80, 125, 131);
        background-image: url(https://besthqwallpapers.com/Uploads/2-3-2020/123261/thumb2-black-and-gold-texture-stylish-black-background-stylish-texture-background-with-golden-lines-black-and-gold-background.jpg);
        background-repeat: no-repeat;
        background-size: cover; 
        color:wheat;        
     }


h1 { font-family: arial;
     padding-left: 550px;
     padding-right: 500px; 
     width: 250px;
     height:80px; 
}

h2 {  
        
}